:root {
	/** CSS DARK THEME PRIMARY COLORS */
	--color-primary-100: #275dad;
	--color-primary-200: #486db6;
	--color-primary-300: #627ebf;
	--color-primary-400: #7a8fc9;
	--color-primary-500: #91a1d2;
	--color-primary-600: #a7b3db;
	/** CSS DARK THEME SURFACE COLORS */
	--color-surface-100: #121212;
	--color-surface-200: #282828;
	--color-surface-300: #3f3f3f;
	--color-surface-400: #575757;
	--color-surface-500: #717171;
	--color-surface-600: #8b8b8b;
	/** CSS DARK THEME MIXED SURFACE COLORS */
	--color-surface-mixed-100: #171920;
	--color-surface-mixed-200: #2c2e35;
	--color-surface-mixed-300: #43444b;
	--color-surface-mixed-400: #5b5c62;
	--color-surface-mixed-500: #74757a;
	--color-surface-mixed-600: #8e8f93;
}

/* about style */
.contents {
	margin: 1% 10% 1% 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contents div.items {
	margin-bottom: 3%;
}

.contents .items h3 {
	color: #275DAD;
	font-size: 25px;
}

.contents .items > p {
	text-align: justify;
}

.message {
	margin-top: 3rem;
}

.contents .items .item_lists {
	display: flex;
	align-items: center;
}

/* Education Cards style */

.contents .items .education-cards {
	display: grid;
	height: 350px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 35px;
	margin: 0px 55px;
	text-align: center;
}

.contents .items .education-card:hover {
	background-color: #486db6;
	border-color: #486db6;
	transition: all .3s cubic-bezier(.25,.8,.25,1);
	transform: translateY(-2px);
	box-shadow: 0 8px 25px 0 var(--color-primary-100);
	z-index: 1;
}

.contents .items .education-card:hover > span {
	transition: all .3s cubic-bezier(.25,.8,.25,1);
	scale: 1.5;
}

@media (max-width: 1355px) {
	.contents .items .education-cards {
		height: auto;
	}
}

.contents .items .education-card {
	background-color: var(--color-surface-mixed-200);
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.contents .items .education-card > span {
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.contents .items .education-card .education-image {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("../resources/highschool-white-icon.png");
	background-size: cover;
	margin: 10px 10px;
}

.contents .items .education-card .education-image.college {
	background-image: url("../resources/university-white-icon.png");
}