:root {
	/** CSS DARK THEME PRIMARY COLORS */
	--color-primary-100: #275dad;
	--color-primary-200: #486db6;
	--color-primary-300: #627ebf;
	--color-primary-400: #7a8fc9;
	--color-primary-500: #91a1d2;
	--color-primary-600: #a7b3db;
	/** CSS DARK THEME SURFACE COLORS */
	--color-surface-100: #121212;
	--color-surface-200: #282828;
	--color-surface-300: #3f3f3f;
	--color-surface-400: #575757;
	--color-surface-500: #717171;
	--color-surface-600: #8b8b8b;
	/** CSS DARK THEME MIXED SURFACE COLORS */
	--color-surface-mixed-100: #171920;
	--color-surface-mixed-200: #2c2e35;
	--color-surface-mixed-300: #43444b;
	--color-surface-mixed-400: #5b5c62;
	--color-surface-mixed-500: #74757a;
	--color-surface-mixed-600: #8e8f93;
}

/* Text Area Style */

.form textarea {
    background-color: var(--color-surface-mixed-200);
    border: 1px solid var(--color-surface-mixed-400);
    border-radius: 5px;
    padding: 8px;
	resize: none;
	height: 15rem;
	max-height: 15rem;
	width: 50%;
}

.form textarea:focus {
    border-color: var(--color-primary-100);
    outline: none; 
    box-shadow: 0 0 5px rgba(39, 93, 173, 0.7);
}


/* Button Style */

.form button.submit {
	bottom: 0;
	margin-top: 2%;
	width: 130px;
	color: white;
	background-color: #275DAD;
	font-size: 15px;
	font-weight: 800;
	padding: 14px 20px;
	border: 0px solid;
	border-radius:5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.form button.submit > p {
	transform: translateX(1rem);
	margin: 0;
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.form button.submit:hover > p {
	transform: translateX(0);
	margin: 0;
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.form button.submit:hover {
	background-color: #4881D5;
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.form button.submit:active {
	background-color: #6998DD;
}

.form .submit span {
	margin-left: 20px;
	display: inline-block;
	opacity: 0;
	transform: translateX(-1rem);
	width: 17px;
	height: 17px;
	background-image: url("../resources/send_white.png");
	background-repeat: no-repeat;
	background-size: contain;
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.form .submit:hover > span {
	opacity: 100;
	transform: translateX(0);
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}

@media (max-width: 980px) {
    .contents textarea {
		height: 12rem !important;
	}
}